@import 'tailwindcss';
@import '@nuxt/ui';
@import 'glightbox/dist/css/glightbox.min.css';

:root {
  --ui-primary: var(--ui-color-primary-950);
  --ui-text: var(--ui-color-neutral-700);
  --ui-bg: white;

  --ui-container: 90rem;
}

.dark {
  --ui-primary: var(--ui-color-primary-950);
  --ui-text: var(--ui-color-neutral-200);
  --ui-bg: var(--ui-color-neutral-900);
}

body {
  @apply antialiased text-default bg-default scheme-light dark:scheme-dark;
}

.section {
  @apply pt-20 pb-12;
}

/* glightbox .goverlay {
  @apply bg-stone-950/95;
}

.gslide-description {
  @apply !bg-transparent;
}

.gslide-title {
  font-family: inherit;
  @apply uppercase tracking-[0.2em] !text-white;
}

.gnext,
.gprev {
  @apply opacity-50 hover:opacity-100 transition-opacity;
} */
